.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 150px;
  width: 100%;
  background-color: var(--mainColor);
  gap: 15px;
}

.footer > span {
  font-size: 3em;
  font-family: var(--fontTitles);
  color: var(--accentColor);
}

.container-logo-footer {
  width: 120px;
  height: 120px;
}

.container-logo-footer > img {
  width: 100%;
}

@media (max-width: 800px) {
  .footer > span {
    font-size: 2em;
  }
  .container-logo-footer {
    width: 50px;
    height: 50px;
  }
}

@media (max-width: 500px) {
  .footer > span {
    font-size: 1.2em;
  }
}
