.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 600px;
    width: 100%;
    background-color: var(--mainColor);
    padding: 15px;
}

.container-redes-sociais-rodape{
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-direction: column;
    gap: 30px;
}

.container-icon-rede-social-rodape{
    display: flex;
    align-items: center;
    gap: 25px;
}

.container-footer-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.title-rodape-redes-sociais{
    font-size: var(--sizeSubTitle);
    color: var(--accentColor); 
    font-family: var(--fontTitles);
}

.container-icon-rede-social{
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--accentColor);
    border-radius: 50%;
    border: 7px solid #fff;
    box-shadow: var(--shadowDefault);
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}

.container-icon-rede-social > img{
    width: 100%;
}

.container-icon-rede-social:hover{
    transform: scale(1.2);
}

.container-icon-rede-social-rodape > span{
    font-size: var(--sizeTextDefault);
    font-family: var(--fontTitles);
    color: var(--accentColor);
    letter-spacing: 1.2px;
}


.container-endereco-rodape{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 27px;
}

.titulo-endereco , .title-contato{
    font-size: var(--sizeSubTitle);
    color: var(--accentColor); 
    font-family: var(--fontTitles);
}

.contato-rodape, .endereco{
    font-size: 2em;
    font-family: var(--fontTitles);
    color: #fff;
    letter-spacing: 1.2px;
}

.container-icon-copyright{
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.container-icon-copyright > span{
    font-size: var(--sizeTextDefault);
    color: var(--accentColor);
    font-family: var(--fontTitles);
}