*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    min-height: 100vh;
    overflow-x: hidden;
    background-color: #FFCC32;
}

nav,ul,ol,li,a{
    text-decoration: none;
    list-style: none;
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}